<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @finance.name %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @finance.ticker %>
</p>

<p>
  <strong>Current Value:</strong>
  <%= @finance.current_value %>
</p>

<%# <p>
  <strong>Type:</strong>
  <%= @finance.type %>
<%# </p> %>

<p><%= link_to 'Add', new_finance_holding_path(@finance) %> to existing portflio</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |