<%= form_for @holding do |f| %>
  <% if holding.errors.any? %>
    <p>
      <ul>
        <% @holding.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

    <%= f.hidden_field :portfolio_id %>
    <%= f.hidden_field :finance_id %>


  <p>
    <%= f.label :cost %>
    <%= f.text_field :name %>
  </p>



  <p>
    <%= f.submit %>
  </p>
<% end %>