<%= form_for @holding do |f| %>
  <% if holding.errors.any? %>
    <p>
      <ul>
        <% @holding.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

<p>
  <strong>Name:</strong>
  <%= @finance.name %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @finance.ticker %>
</p>

<p>
  <strong>Current Value:</strong>
  <%= @finance.current_value %>
</p>
    <%= f.hidden_field :finance_id %>
  <p>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </p>

<%= f.select :portfolio_id, current_user.portfolios.collect { |p| [ p.name, p.id ] }, include_blank: true%>

  <p>
    <%= f.submit %>
  </p>
<% end %>