<%= form_for @holding do |f| %>
  <% if holding.errors.any? %>
    <p>
      <ul>
        <% @holding.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

    <p>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </p>

<%if params[:finance_id]%>
   <%= f.hidden_field :finance_id %>
   <br>
  <p>
  <strong>Name:</strong>
  <%= @finance.name %>
  </p>
  <p>
  <strong>Ticker:</strong>
  <%= @finance.ticker %>
  </p>
  <p>
  <strong>Current Value:</strong>
  <%= @finance.current_value %>
   <%= f.hidden_field :finance_id %>
  <%else%>
  <p>
   <%= f.label :finance %>
   <%= f.collection_select :finance_id, Finance.all, :id, :name, prompt: true %>
  </p>

  <%end%>

  

  <%= f.fields_for :finance do |f_build| %>
  
  <p> Or create a new finance:</p>
    <p>
    <%= f_build.label :name %>
    <%= f_build.text_field :name %>
    </p>
    <p>
    <%= f_build.label :ticker %>
    <%= f_build.text_field :ticker %>
  </p>

 <p>
    <%= f_build.label :current_value %>
    <%= f_build.text_field :current_value %>
  </p>
  <%end%>
  </p>
  <%= f.label :portfolio %>
  <%= f.collection_select :portfolio_id, current_user.portfolios, :id, :name, prompt: true %>
  <p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>