<p id="notice"><%= notice %></p>

<h1>Portfolios</h1>
<%if @portfolios.empty?%>

<h3> You do not manage any portfolios yet click the link below to create a new portfolio </h3>

<%else%>
<h3> Below is a list of portfolios you manage </h3>

<table>
  <thead>
    <tr>
      <th>Client Name</th>
      
      <th>Portfolio Code</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= portfolio.name %></td>
         <td><%= link_to "#{portfolio.code}", portfolio %></td>
        <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <% end %>


<%= link_to 'New Portfolio', new_portfolio_path %> 
