<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Portfolio Code:</strong>
  <%= @portfolio.code %>
</p>

<p>
  <strong>Total Value:</strong>
  $<%= @portfolio.total_value %>
</p>

<h3>Assets included in your your portfolio</h3>


<table>
  <thead>
    <tr>
      <th>Financial Asset Name</th> 
      
      <th>Ticker</th>

      <th>Current Value</th>

      <th>Cost</th>
    
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= holding.finance.name %></td>
         <td><%= link_to "#{holding.finance.ticker}", edit_finance_path(holding.finance_id) %></td>
        <td>$<%= holding.finance.current_value %></td>
        <td>$<%= holding.cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit Portfolio', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %> 
