<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.to_s %>
</p>

<p>
  <strong>Portfolio Code:</strong>
  <%= @portfolio.code %>
</p>

<%# <p>
  <strong>Type:</strong>
  <%= @portfolio.type %>
<%# </p> %> %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
