<%= form_for @asset do |f| %>
 

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Ticker %>
    <%= f.text_field :ticker %>
  </p>

  <p>
    <%= f.label :Current_Value %>
    <%= f.text_field :current_value %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>