<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
 
  </head>

  <body>

   <nav>
  <% if logged_in? %>
    <%= link_to "Home", user_path(current_user) %> |
    <%= link_to "Log Out", logout_path %> |
    <%= link_to "Portfolios", portfolios_path %> |
     <%= link_to "Assets", finances_path %> 
  <% end %>
</nav>
    <%= yield %>
  </body>
</html>
